<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div class="container">
	<div class="row">
		<h1> Photo Edit Page </h1>
	</div>

	<div class="row">
		<form action="/photos/<%=photo.id%>?_method=PUT" method="POST">
			<input type="text" name="name"/></br>
			<input type="text" name="image"/></br>
			<input type="submit" value="Change Photo"/></br>
		</form>
	</div>





</div>
</body>
</html>