<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div class="conatiner">
	<div class="row">
		<h1> New Photo Page </h1> </br>
		
	</div>


	<div class="row">
		<form action="/photos" method="POST">
			<input type="text" name="name"/>
			<input type="text" name="image"/>
			<input type="submit" value="Create Photo"/>
		</form>

	</div>

</div>



</body>
</html>