<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div class="conatiner">
	<div class="row">
		<h1> New Photo Page </h1> </br>
		
	</div>

	<div class="row">
		<form action="/photos" method="POST">
			<select name="userId">
				<% for(let i = 0; i < users.length; i++) { %>
						<option value="<%=users[i].id%>"><%=users[i].userName%></option> 
				<% } %>
			</select></br>
			<input type="text" name="name"/ placeholder="name">
			<input type="text" name="image" placeholder="image"/>
			<input type="submit" value="Create Photo"/>
		</form>

	</div>

</div>



</body>
</html>