<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1> Edit your info </h1>

<main>
	<form action="/users/<%=user.id%>?_method=PUT" method="POST">
			<input type="text" name="userName"/>
			<input type="text" name="password"/>
			<input type="submit" value="Change User"/>
	</form>
</main>

</body>
</html>